body {
    font-family: 'Nunito', sans-serif;
    /* background-color: #e9ebf7; */
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .3s;
	bottom: 4px;
    position: relative;
}

nav a:hover::after {
    width: 100%;
    transition: width .3s;
}

.bg-home-banner {
    background-image: url('../images/header-bg.jpg');
}